<h3>Add new Employee</h3>  
<form method="post" action="/adduser">
    <div class="form-group">
        <label for="name">Employee Name</label>
        <input type="text" name="name">
    </div><br>
    <div class="form-group">
        <label for="email">email</label>
        <input type="email" name="email">
    </div><br>
    <div class="form-group">
        <label for="mobile">Mobile</label>
        <input type="tel" name="mobile">
    </div><br>
    <div class="form-group">
        <label for="mobile">Mobile</label>
        <input type="file" name="resume">
    </div><br>
    <div class="form-group">
        <button type="submit">Add Employee</button>
        <button><a href="/">Back</a></button>
</form>
